rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuthenticated() {
    	return request.auth != null;
    }
    function isUserAuthenticated(userId) {
    	return request.auth.uid == userId;
    }
    function isMember(comId) {
    	return request.auth.uid in getMembers(comId);
    }
    function getCommunity(comId) {
      return get(/databases/$(database)/documents/communities/$(comId)).data
    }
    function getDiscussion(disId) {
      return get(/databases/$(database)/documents/discussions/$(disId)).data
    }
    function getMembers(comId) {
      return getCommunity(comId).users
    }
    function getComIdByDisId(disId) {
      return getDiscussion(disId).community
    }
    function isMemberOfCommunityWhichHas(disId){
      return request.auth.uid in getMembers(getComIdByDisId(disId))
    }
    function isParticipant(disId) {
      return request.auth.uid in getDiscussion(disId).participants
    }
    
    match /users/{userId} {
      allow create, read: if isAuthenticated();
      allow update: if isUserAuthenticated(userId);
    }
    match /communities/{comId} {
    	allow create, read: if isAuthenticated();
      allow update: if isMember(comId);
    }
    match /discussions/{disId} {
      allow create: if isMember(request.resource.data.community)
      allow read, update: if isMemberOfCommunityWhichHas(disId)
      match /posts/{postId} {
        allow create, read, update: if isMemberOfCommunityWhichHas(disId)
      }
    }
  }
}