rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuthenticated() {
    	return request.auth != null;
    }
    function isUserAuthenticated(userId) {
    	return request.auth.uid == userId;
    }
    function isMember(comId) {
    	return request.auth.uid in resource.data.members;
    }
    
    match /users/{userId} {
      allow create, read: if isAuthenticated();
      allow update: if isUserAuthenticated(userId);
    }
    match /communities/{comId} {
    	allow create, read: if isAuthenticated();
      allow update: if isMember(comId);
    }
  }
}